#row>.col-1>img {
    float: right;
    width: 100%;
}

#row {
    width: 20vw;
    height: 100%;
    margin: auto;
    border: 1px solid rgb(143, 143, 143);
    border-radius: 1vw;
    padding-left: 1%;
    padding-right: 1%;
    transition: 0.5s;
    overflow: hidden;
}

#row:hover,
#row:focus-within {
    border-bottom: 1px solid rgb(143, 143, 143);
    padding-left: 0.1%;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}

#row>.col-11,
#row>.col-1 {
    padding: 0;
}

#row>.col-11>input {
    width: 100%;
    height: 100%;
    border: none;
    border-right: 1px solid rgb(143, 143, 143);
    outline: none;
}

#row>.col-11>input:focus,
#row>.col-11>input:hover {
    border-right: none;
    color: #007bff;
}

#row>.col-1>button {
    border-radius: 0;
}